@use '../abstracts';
// -----------------------------------------------------------------------------
// Esse arquivo contem estilos especificos da página inscrição
// -----------------------------------------------------------------------------

.secao {

  &--hero {
    background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  
    padding-bottom: 0;

  }

  &--disclaimer {
    padding: 3.12rem 2rem;
    background-color: abstracts.$cor-cinza;
    box-shadow: 0 1rem 0.5rem -0.2rem rgba(black, 0.15);
  }
}

.container {
  
  &--hero {
    position: relative;
    align-items: end;
    width: 100%;
  }

  &--passo,
  &--aprender {
    @include abstracts.flex($direction: column, $gap: 6rem, $align: start)
  }
}

.grid {

  &--passo {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6rem;
    column-gap: 3rem;
  }

  &--aprender {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}



.div-lira {
  position: absolute;
  transform: translateX(10%);
  display: flex;
  height: 60rem;
  right: 0;
  bottom: 0;
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
}

.img-lira {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
}

.cabecalho-titulo {
  @include abstracts.flex($align: center, $gap: 1.6rem);
}

.aprender-img {
  border-radius: 2rem;
  transition: transform ease 200ms;

  &:hover {
    transform: scale(1.05);
  }
}